[user]
	name = Kenneth Geerts
	email = kenneth@sofuto.be
[color]
	ui = auto
[core]
	excludesfile = /Users/kenneth/.gitignore
	pager = delta
[interactive]
	diffFilter = delta --color-only
[mergetool]
	keepBackup = false
	prompt = false
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[pull]
	ff = only
	rebase = true
[submodule]
	recurse = true
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[fetch]
	prune = true
	pruneTags = true
	all = true
[commit]
	verbose = true
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
