[user]
	name = Kenneth Geerts
	email = kenneth@sofuto.be

[core]
	excludesfile = ~/.gitignore
	pager = hunk pager

[init]
	defaultBranch = master

[column]
	ui = auto

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[fetch]
	all = true
	prune = true
	pruneTags = true

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	followTags = true

[commit]
	verbose = true

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true

[merge]
	conflictStyle = zdiff3

[mergetool]
	keepBackup = false
	prompt = false

[rebase]
	autoStash = true
	updateRefs = true

[rerere]
	enabled = true

[submodule]
	recurse = true

[alias]
	lines = diff HEAD --shortstat
